<component name="ArtifactManager">
  <artifact type="war" name="springcloud-sample-provider:war">
    <output-path>$PROJECT_DIR$/sample-provider/target</output-path>
    <root id="archive" name="springcloud-sample-provider.war">
      <element id="artifact" artifact-name="springcloud-sample-provider:war exploded" />
    </root>
  </artifact>
</component>